# allow HTTP
allow 'Nginx HTTP'

# allow SSH from main
allow from 192.168.1.6 to any port 22 proto tcp

# allow access to Gitea (Docker) from main
route allow from 192.168.1.6 to any port 3000 proto tcp

# allow access to Gitea (Docker) via SSH from main
route allow from 192.168.1.6 to any port 22 proto tcp